{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["transform-decorators-legacy"],
    ["check-es2015-constants"],
    ["transform-es2015-block-scoping"],

  ]
}
