.header{
  padding: 20px;
}
.journal, .header{
  max-width: 900px;
  margin: 0 auto;
}
.journal{
  padding: 20px 0;
}
.entryInput form{
  height: 30px;
  box-sizing: border-box;
}
.entryInput input{
  width: 400px;
  height: 30px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0px;
}
.entryInput button{
  display: none;
  height: 30px;
  box-sizing: border-box;
  background: #009688;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
}
.entries{
  margin: 0 auto;
  overflow: overlay;
  background: #fff;
}
.entry{
  height: 30px;
  margin: 0 auto;
  text-align: left;
  overflow: overlay;
  line-height: 30px;
  background: #fff;
  border: none;
  cursor: text;
}
.entry input {
  height: 30px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  padding: 0px;
  min-width: 300px;
  outline: none;
}
.entry .save{
  background: #009688;
  color: #fff;
  border: none;
}
.entryInputSubmit{
  display: none;
}
.editor{
  min-height: 100px;
  max-width: 900px;
  margin: 0 auto;
}
.editContent{
  padding: 10px;
}
.formatToolbar{
  display: flex;
}
.tooltip-icon-button{
  background: none;
  border: 0;
  cursor: pointer;
}
